<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <h1 class="mt-4 text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
    Dashboard
  </h1>

<%= link_to "Create short link", new_links_path, class: "mt-4 inline-flex items-center px-5 py-2 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>

<div class="flex flex-col mt-4">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                URL
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Short URL
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Hits
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Time ago
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% @links.each do |link| %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                <%= link_to link.long_url, link.long_url %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-red-500">
                <%= link_to short_url(link.id), short_url(link.id), data: { turbolinks: false } %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <%= link_to link.hit_counts %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <%= time_ago_in_words(link.created_at) %>
              </td>
            </tr>

           <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  </ul>
</div>
